@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
}

.app__container {
  width: 400px;
}

.app__logo {
  font-size: 70px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 20px;
}

/* Header */

/* Sorting */
.sorting__list {
  display: flex;
  justify-content: space-between;
  color: #76777b;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 8px 0;
}

/* Main */
.main__task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0 0 15px 0 ;
}

.main__task_info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main__task_buttons {
  display: flex;
  gap: 8px;
}