* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.header__color {
  color: red;
}

.sorting__list {
  display: flex;
  /* временно */
  gap: 25px;
}

.main__task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0 0 10px 0 ;
}

.main__task_info {
  display: flex;
  gap: 10px;
}

.main__task_buttons {
  display: flex;
  gap: 8px;
}